*.pkl
*.json
__pycache__
*/__pycache__
*/*/__pycache__
registration/multiCorres_sync_dfaust1k/multi_condor/*
data/
old_work_dir/
work_dir/
seq006_work_dir/
seq000_work_dir/
seq003_work_dir/
RGBD_work_dir/
work_dir_my_dataset/
kfusion_snoopy_work_dir/
kfusion_duck_work_dir
